﻿@model MapSuite_using_MVC.Models.UserMessage

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <link href="/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="/AdminLib/admin1.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="/AdminLib/admin2.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/AdminLib/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <link href="/AdminLib/skin-blue.min.css" rel="stylesheet" type="text/css" />

    <link href="/font-awesome-4.3.0/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>NDV</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>NDV</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">7@*@ViewBag.count*@</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="../Images/user.png" class="img-circle" alt="User Image" />
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li><!-- end message -->
                                    </ul><!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li><!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li><!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View All Tasks</a>
                                </li>
                            </ul>
                        </li>

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Images/user.png" class="user-image" alt="User Image" />
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                
                                <span class="hidden-xs">@Session["AdmUN"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Images/user.png" class="img-circle" alt="User Image" />
                                    <p style="color:darkviolet">
                                        @Session["AdmUN"] - Web Developer
                                        <small>Member of PUCIT</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Ratings</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        @Html.ActionLink("Profile", "AdminDashboard", "Admin")
                                    </div>
                                    <div class="pull-right">
                                        @Html.ActionLink("Logout", "AdminLogin", "Admin")
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i> </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../Images/user.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@Session["AdmUN"]</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">Feature List</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li id="bar1" class="active"><a id="messagesBtn"><i class='fa fa-envelope-o fa-fw'></i>Messages</a></li>
                    <li id="bar2">
                        <a id="usersBtn"><i class='fa fa-link'></i> <span>Users Info</span></a><div id='loadingmessage' style='display:none'>

                            <img src="~/Images/Preloader_8.gif" />
                        </div>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Admin Control</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a id='seeAllPosts'><i class="fa fa-circle-o"></i> See All Posts</a></li>
                            <li><a id="seeReported"><i class="fa fa-circle-o"></i> Reported Posts</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i> <span>Customer Management</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Delete User</a></li>
                            <li><a id="blockedUsers"><i class="fa fa-circle-o"></i> Block User </a></li>
                        </ul>
                    </li>
                    <li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o text-red"></i> User Info</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o text-yellow"></i> See New Posts</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o text-aqua"></i> See Uploaded Files</a>
                    </li>
                </ul><!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Admin Panel
                    <small>Any Thing Which You Want</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>

            <!-- Main content -->
            <section id="content" class="content">

                <!-- Your Page Content Here -->







            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class='control-sidebar-menu'>
                        <li>
                            <a href='javascript::;'>
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Shehraz's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul><!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class='control-sidebar-menu'>
                        <li>
                            <a href='javascript::;'>
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul><!-- /.control-sidebar-menu -->

                </div><!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked />
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>

                        </div><!-- /.form-group -->
                    </form>
                </div><!-- /.tab-pane -->
            </div>
        </aside><!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.1.4 -->
    <script src="/JS/jquery-1.11.3.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="/JS/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLib/app.min.js" type="text/javascript"></script>

    <script>
        $('#seeAllPosts').on('click', function () {

            $(document).load();
         $('#content').empty();
            $('#content').append('<iframe src = "Posts"'+
   ' height="1000" width="100%" frameBorder="0"></iframe>');
        });
        $('#seeReported').on('click', function () {


            $('#content').empty();
            $('#content').append('<iframe src = "ReportedPosts"' +
   ' height="1000" width="100%" frameBorder="0"></iframe>');
        });
        $('#blockedUsers').on('click', function () {

            $(document).load();
            $('#content').empty();
            $('#content').append('<iframe src = "BlockedUsers"' +
   ' height="1000" width="100%" frameBorder="0"></iframe>');
        });
        $('#messagesBtn').on('click', function () {
            //$('#messageInfo').css('visibility', 'visible');
            $('#loadingmessage').show();
            $('#content').empty();
            $(document).load();
            $.ajax({
                url: "/Admin/getMessages",
                type: "POST",

                contentType: "Application/JSON",
                async: true,
                success: function (d) {

                    $('#content').append('<section style="visibility:visible" id="messageInfo" class="bg-darkest-gray">' +
                   '<div class="container"> <div class="row"><div class="col-lg-12 text-center">'+
                               '<h2 class="section-heading" style="color:black">Messages Information</h2>'+
                           '</div></div><div id="messageDiv" class="row"><div class="col-md-9">'+
             '<div class="box box-primary">  <div class="box-header with-border">'+
                 '<h3 class="box-title">Inbox</h3><div class="box-tools pull-right"><div class="has-feedback">'+
                     '<input type="text" class="form-control input-sm" placeholder="Search Mail"/>'+
                     '<span class="fa fa-search form-control-feedback"></span>'+
                     '</div></div><!-- /.box-tools --></div><!-- /.box-header --><div class="box-body no-padding">'+
                ' <div class="mailbox-controls">'+
                   '<!-- Check all button -->'+
                   '<button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>'+
                   '<div class="btn-group">'+
                     '<button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>'+
                     '<button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>'+
                     '<button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>'+
                   '</div><!-- /.btn-group -->'+
                   '<button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>'+
                   '<div class="pull-right">1-50/200<div class="btn-group">'+
                       '<button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>'+
                       '<button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>'+
                     '</div><!-- /.btn-group --></div><!-- /.pull-right --></div>'+
                 '<div class="table-responsive mailbox-messages">'+
                   '<table id="inboxMessages" class="table table-hover table-striped">'+
                     '<tbody></tbody></table><!-- /.table -->'+
                 '</div><!-- /.mail-box-messages -->'+
               '</div><!-- /.box-body -->'+
             '</div><!-- /. box --></div><!-- /.col --></div></div></section>');
                    // $('#inboxMessages').html('');

                    for (var i = 0; i < d.length; i++) {
                        $('#inboxMessages').append('<tr><td><input type="checkbox" /></td>'+
                           ' <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>'+
                          '<td class="mailbox-name"><a href="read-mail.html">' + d[i].Username + '</a></td>' +
                          '<td class="mailbox-subject"><b>NDV Team Issue</b>' + d[i].Message + '</td>' +
                          '<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td> </tr>');


                    }
                    $('#loadingmessage').hide();
                },
                error: function () {
                    alert('Error somewhere');
                }
            });
        });
        $('#usersBtn').on('click', function () {
            $('#content').empty();
            $('#loadingmessage').show();
            //$('#messageInfo').remove();
            $.ajax({
                url: "/Admin/getUsers",
                type: "POST",

                contentType: "Application/JSON",
                async: true,
                success: function (d) {

                    $('#content').append(' <section style="visibility:visible" id="userInfo" class="bg-darkest-gray"><div class="container">' +
                        '<div class="row"><div class="col-lg-12 text-center">'+
                               ' <h2 class="section-heading" style="color:black">Users Information</h2>'+
                               ' <h3  class="section-subheading text-muted" style="color:black">Click on user to Show complete information.</h3>'+
                            '</div></div><div id="usersDiv" class="row"> </div></div></section>');
                    //$('#usersDiv').html('');
                    for (var i = 0; i < d.length; i++)
                    {
                        $('#usersDiv').append('<div class="col-md-4 col-sm-6 portfolio-item">'+
                            '<img src="~/Images/user.png" onclick="showDetails(\'' + d[i].User_Name + '\',\'' + d[i].Email + '\',\'' + d[i].Gender + '\',\'' + d[i].Job + '\')" class="img-circle" alt="User Image" />' +
                                        '<br /><label class="text-light-blue">'+d[i].User_Name+'</label><br />'+
                                        '<label class="text-light-blue">'+d[i].Email+'</label>'+
'<form method="post" action="deleteUser/'+ d[i].User_ID+'">'+
'<input type="submit" name="delete" class="btn-success" value="delete" /></form></div>');
                    }
                    $('#loadingmessage').hide();

                },
                error: function () {
                    alert('Error somewhere');
                }
            });
        });
        function showDetails(a,b,c,d) {
            swal(a+'\n'+b+'\n'+c+'\n'+d);
        }
    </script>
</body>
</html>