﻿
@model MapSuite_using_MVC.Models.UserMessage
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Posts</title>
     <!-- Bootstrap 3.3.4 -->
    <link href="/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="/AdminLib/admin1.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="/AdminLib/admin2.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/AdminLib/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <link href="/AdminLib/skin-blue.min.css" rel="stylesheet" type="text/css" />

    <link href="/font-awesome-4.3.0/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
</head>
<body>
    <div>
        <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading" style="color: lightblue">All Posts</h2>
                                <h3 class="section-subheading text-muted">What Kind of Stuff People Posts There..</h3>
                            </div>
                        </div>
                        <div style="border:ridge; background-image:url(/Images/bg3.jpg)" class="row">
                            <br />
                            <div class="col-lg-offset-2 col-lg-8">

                                <div>
                                    @{
                                        MapSuite_using_MVC.Models.NDVEntities db = new MapSuite_using_MVC.Models.NDVEntities();

                                        var d = (from x1 in db.Problem_Post
                                                 select x1).ToList();

                                        foreach (var data in d)
                                        {
                                            int pid = (int)data.Id;
                                            int userid = (int)data.User_ID;

                                            MapSuite_using_MVC.Models.User_Info ui = db.User_Info.First(a => a.User_ID == userid);
                                            var cm = (from x1 in db.Coments
                                                      where x1.Post_ID == pid
                                                      select x1).ToList();
                                            {
                                                <div style="border: groove; padding: 20px; background-image: url(/Images/bg8.jpg)">
                                                    <div>
                                                        <img src="~/Images/user.png" />
                                                        <b style="color: black">@ui.User_Name</b>
                                                        <h3 class="section-subheading text-muted" style="color:white">
                                                            @data.Problem
                                                        </h3>
                                                    </div>
                                                    <div>
                                                        <ul class="list-inline">
                                                            <li>
                                                                <button class="btn btn-danger" id="lk"><i class="fa fa-remove"></i>   Delete</button>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <br />
                                                    <hr /><h4><b>Comments:</b></h4><hr />

                                                    @{
                                                foreach (var dd in cm)
                                                {
                                                    <div>
                                                        @{
                                                    MapSuite_using_MVC.Models.NDVEntities db1 = new MapSuite_using_MVC.Models.NDVEntities();
                                                    MapSuite_using_MVC.Models.User_Info com_nam = db1.User_Info.First(v => v.User_ID == dd.User_ID);
                                                        }
                                                    </div><br />
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <span><b>@com_nam.User_Name</b><p style="color:white">@dd.Coment_Text</p></span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <ul class="list-inline">
                                                                    <li>
                                                                        <button class="btn btn-warning" id="lk"><i class="fa fa-thumbs-o-up"></i>   Like</button>
                                                                    </li>
                                                                    <li>
                                                                        <button class="btn btn-warning" id="dlk"><i class="fa fa-thumbs-o-down"></i>   Dislike</button>
                                                                    </li>
                                                                    <li>
                                                                        <button class="btn btn-warning" id="dlk"><i class="fa fa-bank"></i>   Delete</button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                }
                                                    }

                                                    <br /><br />
                                                </div><br />} //post end
                                        }

                                    }
                                    <div>
                                        <hr />
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>

                </section>


    </div>
</body>
     <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.1.4 -->
    <script src="/JS/jquery-1.11.3.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="/JS/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLib/app.min.js" type="text/javascript"></script>
</html>
