﻿@{
    ViewBag.Title = "NDV";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand page-scroll" href="#page-top">National Data Visualization</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#login"><i class="fa fa-user fa-2x" ></i>  Sign In</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#register"><i class="fa fa-user-plus fa-2x"></i>  Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
        <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image: url(/Images/Globe.jpg);"></div>
                <div class="carousel-caption">
                    <div style="border:groove; padding:35px">
                        <h3 class="intro-heading" style="color:white">Data Visualization is a powerful way to simplify the complexity in our data and present it in a form which is comprehensible, insightful and actionable</h3>
                    </div>
                    <br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image: url(/Images/bbkk2.jpg);"></div>
                <div class="carousel-caption">
                    <div style="border:groove; padding:35px">
                        <h1 class="intro-heading">Numbers have an important story to tell. </h1>
                        <h1>They rely on you to give them a clear and convincing voice.</h1>
                    </div>
                    <br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
            <div class="item active">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image: url(/Images/bkbk.jpg);"></div>
                <div class="carousel-caption">
                    <div style="border:groove">
                        <br />
                        <h1>The purpose of visualization is</h1>
                        <h1>insight, not pictures.</h1>
                        <br />
                    </div>
                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
        </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

    <!-- About Section -->
    <section id="about" style="background-image: url(/Images/hd1.jpeg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted" style="color:black">Its All About National Data of PAKISTAN</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" style="width:350px; height:160px" src="/Images/mee.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="subheading" style="color:black">Hamza Shafique</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="color:antiquewhite">Team Manager<br />Web Developer<br />ASP.Net Developer<br />Java Developer</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" style="width:350px; height:160px" src="/Images/shaheryar.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="subheading" style="color:black">Shaheryar Ahmad</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="color:antiquewhite">Team Leader<br />ASP.Net Developer<br />Database Designer</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" style="width:350px; height:160px" src="/Images/shehraz.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="subheading" style="color:black">Shehraz Khan</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="color:antiquewhite">Team Member<br />ASP.Net Developer<br /></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">For any other information contact us freely.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" method="post" action="/Home/SaveMessages" @*onsubmit="alert('Msg - onsubmit')"*@ novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" name="un" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" name="em" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" name="ph" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" name="msg" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn-lg btn-success ">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Login Section -->
    <section id="login" style="background-image:url(/Images/hd1.jpeg)">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Login Form</h2><br />
                </div>
            </div>
            <div class="row" >
                <div class=" col-lg-6 col-lg-offset-3">
                    @*<form role="form" name="login" id="cont" method="post" action="/Home/UserLogin">*@
                        <div class="form-group">
                            @*<label for="usrname"><span class="fa fa-user"></span> Username</label>*@
                            <input id="chuss" type="email" class="form-control" name="lem" required data-validation-required-message="Please enter your name." placeholder="Enter Email" />                        
                        </div>
                        <div class="form-group">
                            @*<label for="psw"><span class="fa fa-eye" ></span> Password</label>*@
                            <input type="password" class="form-control" name="lps" id="password" required data-validation-required-message="Please enter your password." placeholder="Enter Password"/>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="rm" checked>Remember me</label>
                        </div>
                    <p style="color:red; font-size:20px" id="ErrorMessage"></p>
                        <button onclick="loginAuthentication();" id="loginBtn" type="submit" class="btn btn-success"><span class="fa fa-lock"></span> Login</button>
                    @*</form>*@
                    <script>
                        function loginAuthentication() {
                            var userName = $('#chuss').val();
                            var passwrod = $('#password').val();
                            
                            var data = {};
                            data.Email = userName;
                            data.Password = passwrod;
                            $.ajax({
                                type: "POST",
                                url: "/Home/UserLogin",
                                async: true,
                                data: data,
                                success: function (data) {
                                    if (data) {
                                        //alert("Success" + data);
                                        window.location.replace("/Home/Index");
                                    } else {
                                        $("#ErrorMessage").html("<b>Invalid UserName or Password</b>");
                                    }
                                },
                                error: function () { }
                            });
                        }
                    </script>
                    <hr />
                    
                <div class="row">
                    <div class="col-lg-6">
                        <p><b>Not a member? </b><a class="page-scroll" style="color: lightblue" href="#register"><b>Sign Up</b></a></p>
                        <p><b>Forgot </b><a href="#" style="color:lightblue"><b>Password?</b></a></p>
                    </div>
                    <div class="col-lg-6">
                        <p><b><i>Login Through</i></b></p>
                        <span><button class="btn btn-danger" id="gmail">Google</button>   <button class="btn btn-danger" id="fb">Facebook</button></span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- Register Section -->
    <section id="register" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <h2 class="section-heading">Sign Up</h2>
                    <h3 class="section-subheading text-muted">Sign Up To Get Registered.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" >
                    <form name="register" id="contactForm" method="post" action="/Home/GetRegistered" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" name="fname" id="fname" required data-validation-required-message="Please enter your first name.">
                                </div>
                                <div class="form-group">
                                    <span>
                                        <input class="form-control" @*style="width:80%; height:45px"*@ type="email" placeholder="Your Email *" name="email" id="Remail" required data-validation-required-message="Please enter your email address.">
                                        @*<button style="width:18%; height:42px" class="btn btn-success" id="chk">Check</button>*@
                                    </span>
                                    <p style="color:yellow" id="emailValid"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" name="phone" id="phoneR" required data-validation-required-message="Please enter your phone number.">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your CNIC No *" name="cnic" id="cnic" maxlength="15" required data-validation-required-message="Please enter your cnic.">
                                </div>
                                <div class="form-group">
                                    <span class="hh">Gender : </span>
                                    <input class="form-group" type="radio" name="gender"><span class="hh"> Male </span>
                                    <input class="form-group" type="radio" name="gender"><span class="hh"> Female </span>
                                </div>
                                <div class="form-group">
                                    <span class="hh">Date Of Birth: </span>
                                    <select class="hh" style="height:30px" name="date">
                                        <option value="" disabled selected>Date</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                        <option>26</option>
                                        <option>27</option>
                                        <option>28</option>
                                        <option>29</option>
                                        <option>30</option>
                                        <option>31</option>
                                    </select>
                                    <select class="hh" style="height:30px" name="month">
                                        <option value="" disabled selected>Month</option>
                                        <option>January</option>
                                        <option>February</option>
                                        <option>March</option>
                                        <option>April</option>
                                        <option>May</option>
                                        <option>June</option>
                                        <option>July</option>
                                        <option>August</option>
                                        <option>September</option>
                                        <option>October</option>
                                        <option>November</option>
                                        <option>December</option>
                                    </select>
                                    <select class="hh" style="height:30px" name="year">
                                        <option value="" disabled selected>Year</option>
                                        <option>1990</option>
                                        <option>1991</option>
                                        <option>1992</option>
                                        <option>1993</option>
                                        <option>1994</option>
                                        <option>1995</option>
                                        <option>1996</option>
                                        <option>1997</option>
                                        <option>1998</option>
                                        <option>1999</option>
                                        <option>2000</option>
                                        <option>2001</option>
                                        <option>2002</option>
                                        <option>2003</option>
                                        <option>2004</option>
                                        <option>2005</option>
                                        <option>2006</option>
                                        <option>2007</option>
                                        <option>2008</option>
                                        <option>2009</option>
                                        <option>2010</option>
                                        <option>2011</option>
                                        <option>2012</option>
                                        <option>2013</option>
                                        <option>2014</option>
                                        <option>2015</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" name="lname" id="lname" required data-validation-required-message="Please enter your last name."/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" name="pswd" id="password" required data-validation-required-message="Please enter your password."/>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Address *" name="addr" id="address" required data-validation-required-message="Please enter your address."/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Job *" name="job" id="job" required data-validation-required-message="Please enter your phone number."/>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="qualification" required data-validation-required-message="Please select your qualification.">
                                        <option value="" disabled selected>Qualification</option>
                                        <option>Primary</option>
                                        <option>Middle</option>
                                        <option>Matric</option>
                                        <option>Intermediate</option>
                                        <option>Bachelor</option>
                                        <option>MPhill</option>
                                        <option>Phd</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Location *" name="loc" id="location" required data-validation-required-message="Please enter your phone number.">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn-lg btn-success">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div style="background-color:gray">
        <div class="container-fluid" style="background-color:gray; padding:50px; padding-left:200px; padding-right:100px">
            <div class="col-lg-4">
                <div style="padding-right:100px">
                    <h3>Connect</h3>
                    <hr />
                    <a href="#">Blog</a><br />
                    <a href="#">Facebook</a><br />
                    <a href="#">Google+</a><br />
                    <a href="#">Twitter</a><br />
                    <a href="#">YouTube</a><br />
                </div>
            </div>

            <div class="col-lg-4">
                <div style="padding-right:100px">
                    <h3>Contents</h3>
                    <hr />
                    <a class="page-scroll" href="#page-top">Home</a><br />
                    <a href="#">Service</a><br />
                    <a class="page-scroll" href="#about">About Us</a><br />
                    <a class="page-scroll" href="#contact">Contact Us</a><br />
                    <button onclick="swal('Login First Please')">Post Problems</button><br />
                </div>
            </div>

            <div class="col-lg-4">
                <div style="padding-right:100px">
                    <h3>Developers</h3>
                    <hr />
                    <a href="https://www.facebook.com/hamza.shafique.904">Hamza Shafique</a><br />
                    <a href="https://www.facebook.com/shehraz.khan.980">Shehraz Khan</a><br />
                    <a href="https://www.facebook.com/shaheryar.ahmed.982">Shaheryar Khan</a><br />
                    <a href="https://www.facebook.com/ali.zuhaib.313">Ali Zuhaib</a><br />
                </div>
            </div>
        </div>
        <hr />
        <div>
            <span style="padding-left:200px">
                <span class="copyright" style="color:black">Copyright &copy; National Data Visualization 2015. All Rights Reserved.</span>
            </span>
            @*<span style="padding-left:400px">
                <a style="color:black" href="#">Privacy Policy</a> <a style="color:black" href="#">Terms of Use</a>
            </span>*@
        </div>
        <br />
    </div> 

<script>
    $('#cnic').keydown(function () {

        //allow  backspace, tab, ctrl+A, escape, carriage return
        if (event.keyCode == 8 || event.keyCode == 9
                          || event.keyCode == 27 || event.keyCode == 13
                          || (event.keyCode == 65 && event.ctrlKey === true))
            return;
        if ((event.keyCode < 48 || event.keyCode > 57))
            event.preventDefault();

        var length = $(this).val().length;

        if (length == 5 || length == 13)
            $(this).val($(this).val() + '-');

    });

    $('#phoneR').keydown(function () {

        //allow  backspace, tab, ctrl+A, escape, carriage return
        if (event.keyCode == 8 || event.keyCode == 9
                          || event.keyCode == 27 || event.keyCode == 13
                          || (event.keyCode == 65 && event.ctrlKey === true))
            return;
        if ((event.keyCode < 48 || event.keyCode > 57))
            event.preventDefault();

    });
</script>