﻿@model MapSuite_using_MVC.Models.UserMessage

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>National Data Visualization</title>
    <link rel="icon" href="/Images/LOGO.jpg">
    <!-- Bootstrap Core CSS -->
    <link href="/CSS/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/CSS/StyleSheet1.css" rel="stylesheet">
    <link href="~/CSS/examples.css" rel="stylesheet" />
    <link href="/CSS/full-slider.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.3.0/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <script src="~/JS/jquery-ui.min.js"></script>
    <script src="~/JS/jquery-1.11.3.js"></script>

    <script src="~/JS/sweetalert.min.js"></script>
    <link href="~/CSS/sweetalert.css" rel="stylesheet" />

    <script src="~/JS/jquery-ui.min.js"></script>
    <link href="~/JS/morris.css" rel="stylesheet" />
    <script src="~/JS/morris.min.js"></script>
    <script src="~/JS/morris.js"></script>
    <script src="~/JS/prettify.js"></script>
    <script src="~/JS/rapheal.js"></script>
    <script src="~/JS/example.js"></script>

    <script src="~/JS/jquery.flot.js"></script>
    <script src="~/JS/jquery.flot.crosshair.js"></script>

    <script src="~/JS/d3.min.js"></script>
    <script src="~/Scripts/Comments.js"></script>
    <script src="~/Scripts/EditOrDeletePost.js"></script>

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    @*----Chord Libraries----*@
    <script src="~/Scripts/chord/underscore.js"></script>
    <script src="~/Scripts/chord/mapper.js"></script>

    <script type="text/javascript">google.load("visualization", "1", { packages: ["corechart"] });</script>
    <script> google.load("visualization", "1", { packages: ["motionchart"] });</script>
</head>
<body style="background-color:black" id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">National Data Visualization</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="" href="/Map1/Index3">Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Service</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#comparisonSection">Comparison</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#info">Submit Info</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#mypost">Posts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="/Home/AllProblemPosts">News Feed</a>
                    </li>
                    <li class="dropdown user user-menu ">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="~/Images/user.png" class="user-image" alt="User Image" />
                        </a>
                        <ul class="dropdown-menu img-centered">
                            <!-- The user image in the menu -->
                            <li class="user-header ">
                                <div style="padding:20px">
                                    <img src="~/Images/user1.png" class="img-circle " alt="User Image" />
                                </div>
                            </li>
                            <!-- Menu Body -->
                            <li>
                                <p style="font-size:20px"><i>@Session["UN"]</i></p><hr />
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div style="padding:8px">
                                    <div class="pull-left">
                                        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                                            <label style="font-size:15px"><i>View Profile</i></label>
                                        </a>
                                    </div><br />
                                    <div class="pull-left">
                                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                                            <label style="font-size:15px"><i>Edit Profile</i></label>
                                        </a>
                                    </div><br />
                                    <div class="pull-left">
                                        <a href="/Home/MyProblemPosts">
                                            <label style="font-size:15px"><i>My Posts</i></label>
                                        </a>
                                    </div><br /><hr />
                                    <div class="pull-left">
                                        <a href="/Home/HomePage">
                                            <i class="fa fa-sign-out fa-2x"></i><label style="font-size:15px">    LOGOUT</label>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image: url(/Images/Globe.jpg);"></div>

                <div class="carousel-caption">
                    <div style="border:groove; padding:35px">
                        <h3>Data Visualization is a powerful way to simplify the complexity in our data and present it in a form which is comprehensible, insightful and actionable</h3>
                    </div>
                    <br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image: url(/Images/bbkk2.jpg);"></div>
                <div class="carousel-caption">
                    <div style="border:groove; padding:35px">
                        <h1 class="intro-heading">Numbers have an important story to tell. </h1>
                        <h1>They rely on you to give them a clear and convincing voice.</h1>
                    </div>
                    <br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
            <div class="item active">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image: url(/Images/bkbk.jpg);"></div>
                <div class="carousel-caption">
                    <div style="border:groove">
                        <br />
                        <h1>The purpose of visualization is</h1>
                        <h1>insight, not pictures.</h1>
                        <br />
                    </div>
                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Services Section -->
    <section id="services" style="background-image: url(/Images/hd1.jpeg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color: lightblue"><i>Services</i></h2>
                    @*<h3 class="section-subheading text-muted" style="color: lightblue">Stats of Pakistan</h3>*@
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-2">
                    <h4 style="color: lightblue; font-family: Jokerman; font-size: 30px" class="service-heading"><b><i>PAKISTAN</i></b></h4>
                    <hr /><br />
                    <!-- Selection -->
                    <form>
                        @*<b><i style="color: lightblue">Province:</i></b>*@
                        <select id="prov" class="badge">
                            <option value="" disabled selected>Select Province</option>
                            <option value="1">Punjab</option>
                            <option value="2">Sindh</option>
                            <option value="3">Balochistan</option>
                            <option value="4">NWFP</option>
                            <option value="5">FATA</option>
                        </select>
                        <br /><br />
                        @*<b><i style="color: lightblue">District:</i></b>*@
                        <select id="dist" class="badge">
                            <option value="" disabled selected>Select District</option>
                        </select>
                        <br /><br />
                        @*<b><i style="color: lightblue">Tehsil:</i></b>*@
                        <select id="teh" class="badge">
                            <option value="" disabled selected>Select Tehsil</option>
                        </select>
                        <br /><br />
                        @*<b><i style="color: lightblue">Attribute:</i></b>*@
                        <select id="att" class="badge">
                            <option value="" disabled selected>Select Attribute</option>
                            <option value="Merital Status">Merital Status</option>
                            <option value="Education level">Education level</option>
                            <option value="Literacy">Literacy</option>
                            <option value="Religion">Religion</option>
                            <option value="Field of Education">Field of Education</option>
                            <option value="Mother Language">Mother Language</option>
                            <option value="Can Read">Can Read</option>
                        </select>
                        <br /><br />
                        @*<b><i style="color: lightblue">Sub_Attribute</i></b>*@
                        <select id="sub_attribute" class="badge">
                            <option value="" disabled selected>Sub_Attribute</option>

                        </select>
                        <br /><br />
                    </form>
                </div>
                <!-- Graph Ploting Area -->
                <div id="graphArea" class="col-md-8">
                    <div id="plotingplace" class="tab-content">
                        <div id="chartdiv" style="height:400px; width:700px" class=" tab-pane active"></div>

                    </div>
                </div>
                <!-- Radio Button Area -->
                <div id="graphArea" class="col-md-2">
                    <div class="list-group">
                        <a class="list-group-item active"><b>Graphical Representation</b></a>
                        <a id="b0" href="javascript:bar()" class="list-group-item">Bar Chart</a>
                        <a id="b1" href="javascript:bar()" class="list-group-item">Donut Chart</a>
                        <a id="b2" href="javascript:bar()" class="list-group-item">Bubble Chart</a>
                        <a id="b3" href="javascript:bar()" class="list-group-item">Tracking Chart</a>
                        <a id="b4" href="javascript:bar()" class="list-group-item">Area Chart</a>
                        <a id="b5" href="javascript:bar()" class="list-group-item">Line Chart</a>
                        <a id="b7" href="javascript:bar()" class="list-group-item">Motion Chart</a>
                        <a id="b8" href="javascript:bar()" class="list-group-item">Hierarichal Chart</a>
                        <a id="b9" href="javascript:bar()" class="list-group-item">Chord Chart</a>
                    </div>
                    <script>
                        function bar() {

                        }
                    </script>
                </div>
            </div>
        </div>
    </section>

    <!-- Comparison Section -->
    <section id="comparisonSection" style="background-image: url(/Images/hd1.jpeg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color: lightblue">Comparison</h2>
                </div>
            </div>
            <div class="row text-center">
                <!-- Selection Area -->
                <div class="col-md-4">
                    <h4 style="color: lightblue; font-family: Jokerman; font-size: 30px" class="service-heading"><b><i>PAKISTAN</i></b></h4>
                    <hr /><br />
                    <!-- Selection -->
                    <div>
                        <select id="attri" class="form-control">
                            <option value="" disabled selected>Select Attribute</option>
                            <option value="Merital Status">Merital Status</option>
                            <option value="Education level">Education level</option>
                            <option value="Literacy">Literacy</option>
                            <option value="Religion">Religion</option>
                            <option value="Field of Education">Field of Education</option>
                            <option value="Mother Language">Mother Language</option>
                            <option value="Can Read">Can Read</option>
                        </select>
                        <br /><br />
                        <select id="area" class="form-control">
                            <option value="" disabled selected>Select Area</option>
                            <option value="1">Province</option>
                            <option value="2">District</option>
                            <option value="3">Tehsil</option>
                        </select>
                        <div id="comp"></div>
                    </div>
                    <br /><br />
                    <input class="btn btn-success" id="comparisonStart" type="button" value="Comparison" onclick="startComparison()" />
                </div>
                <!-- Graph Ploting Area -->
                <div id="graphArea" class="col-md-8">
                    <div id="comparisonPlace" class="tab-content">
                        <div id="chart" style="height:400px; width:700px"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Info Section -->
    <section id="info" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color:white">Input Information</h2>
                    <h3 class="section-subheading text-muted" style="color:white">Provide us a useful information about your area</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="/Home/ManualDataEntry" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/Images/DataEntry.jpg" style="width:400px; height:220px" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 style="color:white">Manually Enter The Data</h4>
                        <p class="text-muted">---------------</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="/Home/AttachFile" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/Images/excel.jpg" style="width:400px; height:220px" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 style="color:white">Attach An Excel File</h4>
                        <p class="text-muted">---------------------</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="/Home/RuntimeGraphs" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/Images/runtimeGraph.jpg" style="width:400px; height:220px" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 style="color:white">Runtime Visualization of Your Own Data</h4>
                        <p class="text-muted">---------------------</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Post Section -->
    <section id="mypost" style="background-image: url(/Images/hd1.jpeg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <h2 class="section-heading" style="color:white">Posts</h2>
                    <h3 class="section-subheading text-muted " style="color: white">You Can Upload Useful Stuff About Pakistan Stats.</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <div class="tabs">
                        <ul class="tab-links">
                            <li class="active"><a href="#tab1"><i class="fa fa-pencil-square-o"></i>  Write Post</a></li>
                            <li><a href="#tab2"><i class="fa fa-file-image-o"></i>  Add Photo/Video</a></li>
                            <li><a href="#tab3"><i class="fa fa-file-excel-o"></i>  Add File</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab1" class="tab active">
                                <form id="post1" method="post" action="/Home/saveProblemPost">
                                    <p>About Pakistan</p><br />
                                    <textarea class="form-control" name="msg1" id="t1" placeholder="Write Something..."></textarea><br />
                                    <input class="btn btn-success" type="submit" id="upload1" value="Post" /><br />
                                </form>
                            </div>

                            <div id="tab2" class="tab">
                                <form id="post2" action="">
                                    <p>Upload Photo or Video here!</p><br />
                                    <textarea class="form-control" id="t2" placeholder="Write Something..."></textarea><br />
                                    <input id="file" type="file" /><br />
                                    <input class="btn btn-success" type="submit" id="upload1" value="Upload" /><br />
                                </form>
                            </div>

                            <div id="tab3" class="tab">
                                <form id="post3" action="">
                                    <p>Upload Files..</p><br />
                                    <textarea class="form-control" id="t3" placeholder="Write Something..."></textarea><br />
                                    <input id="file" type="file"><br />
                                    <input class="btn btn-success" type="submit" id="upload1" value="Upload" /><br />
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">For any other information contact us freely.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div style="padding-left:180px">
                        <h2 style="color:white">Send Us A Message</h2><br />
                    </div>
                    <form name="sentMessage" id="contactForm" method="post" action="/Home/SaveMessages" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" name="un" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" name="em" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" name="ph" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" name="msg" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn-lg btn-success">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div style="border-left-style:double; padding-left:40px" class="col-lg-4 text-muted">
                    <h2 style="color: white">National Data Center</h2>
                    <p style="color: white">
                        <br />Address : PUCIT-Punjab University Collage Of Information Technology The Mall, Lahore.<br />
                        <br />Email At : <a href="https://www.gmail.com">hamxxa07@gmail.com</a>
                        <br />Phone At : <a>+92 322 5771035</a>
                        <br />Skype At : <a href="https://www.skype.com" name="hamzi_07">Hamzi_07</a>
                        <br />Facebook: <a href="https://www.facebook.com/hamza.shafique.904">Hamza Shafique</a>
                        <br /><br /><br /><br />
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div style="background-color:black">
        <div class="container-fluid" style="background-color:gray; padding:50px; padding-left:200px; padding-right:100px">
            <div class="col-lg-4">
                <div style="padding-right:100px">
                    <h3 style="color:black">Connect</h3>
                    <hr />
                    <div style="padding-right:20px">
                        <a href="#">Blog</a><br />
                        <a href="#">Facebook</a><br />
                        <a href="#">Google+</a><br />
                        <a href="#">Twitter</a><br />
                        <a href="#">YouTube</a><br />
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4">
                <div style="padding-right:100px">
                    <h3 style="color:black">Contents</h3>
                    <hr />
                    <a class="page-scroll" href="#page-top">Home</a><br />
                    <a href="#">Service</a><br />
                    <a href="#">Post Problems</a><br />
                    <a class="page-scroll" href="#about">About Us</a><br />
                    <a class="page-scroll" href="#contact">Contact Us</a><br />
                </div>
            </div>

            <div class="col-lg-4">
                <div style="padding-right:100px">
                    <h3 style="color:black">Developers</h3>
                    <hr />
                    <a href="https://www.facebook.com/hamza.shafique.904">Hamza Shafique</a><br />
                    <a href="https://www.facebook.com/shehraz.khan.980">Shehraz Khan</a><br />
                    <a href="https://www.facebook.com/shaheryar.ahmed.982">Shaheryar Khan</a><br />
                    <a href="https://www.facebook.com/ali.zuhaib.313">Ali Zuhaib</a><br />
                </div>
            </div>
        </div>
        <div>
            <br />
            <span style="padding-left:200px">
                <span class="copyright" style="color:white">Copyright &copy; National Data Visualization 2015. All Rights Reserved.</span>
            </span>
            @*<span style="padding-left:400px">
                    <a style="color:black" href="#">Privacy Policy</a> <a style="color:black" href="#">Terms of Use</a>
                </span>*@
        </div>
        <br />
    </div>

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" style="background-image:url(/Images/back.jpg)">
            <div class="container">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Pakage Request</h2>
                        <p class="item-intro text-muted">Fill In The Form With Your Desired Requirement.</p>

                        <form class="form" method="post" action="/">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Request Details</h3>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label for="heading">Title</label>
                                        <input class="form-control" data-val="true" data-val-length="Title must be between 3 and 30 characters!" data-val-length-max="50" data-val-length-min="3" data-val-required="Title is required" id="title" name="title" placeholder="eg. Hp Laptop i5" type="text" value="" />
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <div>
                                        <label for="heading">Catagory</label>
                                        <select class="form-control" id="cat" name="catagory">
                                            <option>Real Estate</option>
                                            <option>Vehicle</option>
                                            <option>Computer</option>
                                            <option>Cell Phone</option>
                                        </select>
                                        <br />
                                        <span class="field-validation-valid" data-valmsg-for="cat" data-valmsg-replace="true"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="heading">Brand</label>
                                        <input class="form-control" data-val="true" data-val-length="Brand Name must be between 3 and 50 characters!" data-val-length-max="50" data-val-length-min="3" data-val-required="Brand is required" id="brand" name="brand" placeholder="Apple, Nokia, LG" type="text" value="" />

                                        <span class="field-validation-valid" data-valmsg-for="brand" data-valmsg-replace="true"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="status">Status</label>


                                        <select class="form-control" id="status" name="status">
                                            <option selected="selected">New</option>
                                            <option>Used</option>
                                        </select>

                                    </div>

                                    <div class="form-group">
                                        <label for="text">Description</label>
                                        <textarea class="form-control" cols="20" data-val="true" data-val-length="First Name must be between 10 and 500 characters!" data-val-length-max="500" data-val-length-min="10" data-val-required="Description is required" id="description" name="description" rows="6"></textarea>

                                        <span class="field-validation-valid" data-valmsg-for="description" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group" style="width: 150px;">
                                                    <input class="form-control" data-val="true" data-val-length="Price must be between 100 and 10 Million !" data-val-length-max="8" data-val-length-min="3" data-val-required="Price is required" id="price" name="price" type="number" value="" />
                                                    <span class="input-group-addon">PKR</span>
                                                </div>
                                                <span class="field-validation-valid" data-valmsg-for="price" data-valmsg-replace="true"></span>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="well">
                                <p>Click Here To Submit Request.</p>
                                <button type="submit" class="btn btn-success">Submit Request</button>
                                <button type="submit" class="btn btn-warning" data-dismiss="modal">   BACK   </button>

                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div style="background-image: url(/Images/hd1.jpeg)" class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" @*style="background-color:lightgray"*@>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Edit Profile</h2>
                            @{
                                var online = (String)Session["MailID"];
                                MapSuite_using_MVC.Models.NDVEntities dbb = new MapSuite_using_MVC.Models.NDVEntities();
                                MapSuite_using_MVC.Models.User_Info user = dbb.User_Info.First(y => y.Email.Equals(online));

                            <p class="item-intro text-muted" style="color:black">You Can Edit Your Personal Information...</p>
                            <span><img style="width:120px" class="img-responsive img-centered" src="~/Images/user1.png" alt=""><h3 style="color:lightblue">  Name : @user.First_Name @user.Last_Name</h3></span>

                            <div class="col-lg-12">
                                <form name="register" id="contactForm" method="post" action="/Home/EditProfile" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="First Name *" name="fname" id="fname" required data-validation-required-message="Please enter your first name.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" disabled class="form-control" value="@user.Email" placeholder="@user.Email" name="email" id="email" required data-validation-required-message="Please enter your email address.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" class="form-control" placeholder="Your Phone *" name="gender" id="gender" required data-validation-required-message="Please enter your phone number.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your CNIC No *" name="cnic" id="cnic" required data-validation-required-message="Please enter your cnic.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                Gender :
                                                <input class="form-group" type="radio" name="gender"> Male
                                                <input class="form-group" type="radio" name="gender"> Female
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                Date Of Birth:

                                                <select style="height:30px" name="date">
                                                    <option value="" disabled selected>Date</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                    <option>15</option>
                                                    <option>16</option>
                                                    <option>17</option>
                                                    <option>18</option>
                                                    <option>19</option>
                                                    <option>20</option>
                                                    <option>21</option>
                                                    <option>22</option>
                                                    <option>23</option>
                                                    <option>24</option>
                                                    <option>25</option>
                                                    <option>26</option>
                                                    <option>27</option>
                                                    <option>28</option>
                                                    <option>29</option>
                                                    <option>30</option>
                                                    <option>31</option>
                                                </select>

                                                <select style="height:30px" name="month">
                                                    <option value="" disabled selected>Month</option>
                                                    <option>January</option>
                                                    <option>February</option>
                                                    <option>March</option>
                                                    <option>April</option>
                                                    <option>May</option>
                                                    <option>June</option>
                                                    <option>July</option>
                                                    <option>August</option>
                                                    <option>September</option>
                                                    <option>October</option>
                                                    <option>November</option>
                                                    <option>December</option>
                                                </select>
                                                <select style="height:30px" name="year">
                                                    <option value="" disabled selected>Year</option>
                                                    <option>1990</option>
                                                    <option>1991</option>
                                                    <option>1992</option>
                                                    <option>1993</option>
                                                    <option>1994</option>
                                                    <option>1995</option>
                                                    <option>1996</option>
                                                    <option>1997</option>
                                                    <option>1998</option>
                                                    <option>1999</option>
                                                    <option>2000</option>
                                                    <option>2001</option>
                                                    <option>2002</option>
                                                    <option>2003</option>
                                                    <option>2004</option>
                                                    <option>2005</option>
                                                    <option>2006</option>
                                                    <option>2007</option>
                                                    <option>2008</option>
                                                    <option>2009</option>
                                                    <option>2010</option>
                                                    <option>2011</option>
                                                    <option>2012</option>
                                                    <option>2013</option>
                                                    <option>2014</option>
                                                    <option>2015</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name *" name="lname" id="lname" required data-validation-required-message="Please enter your last name.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="New Password *" name="pswd" id="password" required data-validation-required-message="Please enter your password.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" class="form-control" placeholder="Address *" name="ph" id="phone" required data-validation-required-message="Please enter your address.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Job *" name="job" id="job" required data-validation-required-message="Please enter your phone number.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="qualification" required data-validation-required-message="Please select your qualification.">
                                                    <option value="" disabled selected>Qualification</option>
                                                    <option>Primary</option>
                                                    <option>Middle</option>
                                                    <option>Matric</option>
                                                    <option>Intermediate</option>
                                                    <option>Bachelor</option>
                                                    <option>MPhill</option>
                                                    <option>Phd</option>
                                                </select>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your Location *" name="loc" id="location" required data-validation-required-message="Please enter your phone number.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            @*<button type="submit" class="btn btn-xl">Sign Up</button>*@
                                        </div>
                                    </div>
                                    <button id="saveChanges" type="submit" class="btn btn-success" data-dismiss="modal"><i class="fa fa-save"></i> SAVE PROFILE </button>
                                    <button id="discardChanges" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> CANCEL</button>
                                </form>
                            </div>
                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                            <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View Profile Modal -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div style="background-image: url(/Images/hd1.jpeg)" class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" >
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><i>Your Personal Info</i></h2>
                            @{
                                var online2 = (String)Session["MailID"];
                                MapSuite_using_MVC.Models.NDVEntities dbb2 = new MapSuite_using_MVC.Models.NDVEntities();

                            <span><img style="width:120px" class="img-responsive img-centered" src="~/Images/user1.png" alt=""></span>

                            <div class="col-lg-12">
                                <form name="register" id="contactForm" method="post" action="/Home/EditProfile" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="First Name : @user.First_Name" placeholder="First Name *" name="fname" id="fname" required data-validation-required-message="Please enter your first name.">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" disabled class="form-control" value="Email : @user.Email" placeholder="@user.Email" name="email" id="email" required data-validation-required-message="Please enter your email address.">
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" class="form-control" value="Phone No : @user.Phone_No" placeholder="Your Phone *" name="gender" id="gender" required data-validation-required-message="Please enter your phone number.">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="CNIC No : @user.CNIC_No" placeholder="Your CNIC No *" name="cnic" id="cnic" required data-validation-required-message="Please enter your cnic.">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="Date of Birth : @user.DOB" placeholder="Your Job *" name="job" id="job" required data-validation-required-message="Please enter your phone number.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="Last Name : @user.Last_Name" placeholder="Last Name *" name="lname" id="lname" required data-validation-required-message="Please enter your last name.">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="Password : @user.Password" placeholder="New Password *" name="pswd" id="password" required data-validation-required-message="Please enter your password.">
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" class="form-control" value="Location : @user.Location" placeholder="Address *" name="ph" id="phone" required data-validation-required-message="Please enter your address.">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="Job : @user.Job" placeholder="Your Job *" name="job" id="job" required data-validation-required-message="Please enter your phone number.">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="Qualification : @user.Qualification" placeholder="Your Job *" name="job" id="job" required data-validation-required-message="Please enter your phone number.">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="/JS/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/JS/classie.js"></script>
    <script src="/JS/cbpAnimatedHeader.js"></script>

    <!-- Comparison -->
    <script src="~/Scripts/Comparison.js"></script>
    <!-- My Graphs -->
    <script src="~/Scripts/Graphs.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/JS/jqBootstrapValidation.js"></script>
    <script src="/JS/contact_me.js"></script>
    <script>
        jQuery('.tabs .tab-links a').on('click', function (e) {
            var currentAttrValue = jQuery(this).attr('href');

            // Show/Hide Tabs
            jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

            // Change/remove current tab to active
            jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

            e.preventDefault();
        });
        $("#file").change(function () { selectFileClick(); });

        function selectFileClick() {
            var fileName = filedialog();
            // parsing file...
            return false;
        }

    </script>

    <!-- Custom Theme JavaScript -->
    <script src="/JS/agency.js"></script>

</body>

</html>