﻿@{
    ViewBag.Title = "My Problems";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">National Data Visualization</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/Home/Index">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Home/Index">Service</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Home/Index">Submit Info</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Home/Index">Posts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Home/Index">Contact</a>
                    </li>
                    <li>
                        <a href="/Home/AllProblemPosts">News Feed</a>
                    </li>
                    <li class="dropdown user user-menu ">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="~/Images/user.png" class="user-image" alt="User Image" />
                        </a>
                        <ul class="dropdown-menu img-centered">
                            <!-- The user image in the menu -->
                            <li class="user-header ">
                                <div style="padding:20px">
                                    <img src="~/Images/user1.png" class="img-circle " alt="User Image" /><br />
                                </div>
                            </li>
                            <!-- Menu Body -->
                            <li>
                                <p style="font-size:20px"><i>@Session["UN"]</i></p><hr />
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div style="padding:8px">
                                    <div class="pull-left">
                                        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                                            <label style="font-size:15px"><i>View Profile</i></label>
                                        </a>
                                    </div><br />
                                    <div class="pull-left">
                                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                                            <label style="font-size:15px"><i>Edit Profile</i></label>
                                        </a>
                                    </div><br />
                                    <div class="pull-left">
                                        <a href="/Home/MyProblemPosts">
                                            <label style="font-size:15px"><i>My Posts</i></label>
                                        </a>
                                    </div><br /><hr />
                                    <div class="pull-left">
                                        <a href="/Home/HomePage">
                                            <i class="fa fa-sign-out fa-2x"></i><label style="font-size:15px">    LOGOUT</label>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- All My Posts -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <h2 class="section-heading" style="color: lightblue">History</h2>
                    <h3 class="section-subheading text-muted">All Of Your Posts Here..</h3>
                </div>
            </div>
            <div style="border:ridge; background-image:url(/Images/bg3.jpg)" class="row">
                <br />
                <div class="col-lg-offset-2 col-lg-8">
                    @foreach (var l in ViewBag.data)
                    {
                        <div style="border: ridge; padding: 50px; background-image: url(/Images/bg8.jpg)">
                            <div>
                                <span>
                                    <img src="~/Images/user.png" />
                                    <span style=" font-size:20px; font-family:'Bookman Old Style'"><i><b>@ViewBag.uname</b></i></span>
                                </span>
                            </div>
                            <div>
                                <p class="section-subheading text-muted" style="color:white; font-size:20px">
                                    @l.Problem
                                </p>
                                <hr />
                                <div>
                                    <ul class="list-inline">
                                        <li>
                                            <button value=@l.Id class="btn btn-warning" id="edit"><i class="fa fa-edit"></i>   Edit</button>
                                        </li>
                                        <li>
                                            <button value=@l.Id class="btn btn-warning" id="delete"><i class="fa fa-remove"></i>   Delete</button>
                                        </li>
                                    </ul>
                                </div>
                                <br />
                            </div>
                        </div>
                        <br />
                    }
                </div>

            </div>
        </div>
    </section>
    <br /><br /><br />
    <!-- Footer -->
    <div class="container" style="background-color:black">
        <div class="container-fluid" style="background-color:gray; padding:50px; padding-left:200px; padding-right:100px">
            <div class="col-lg-4">
                <div style="padding-right:100px">
                    <h3>Connect</h3>
                    <hr />
                    <a href="#">Blog</a><br />
                    <a href="#">Facebook</a><br />
                    <a href="#">Google+</a><br />
                    <a href="#">Twitter</a><br />
                    <a href="#">YouTube</a><br />
                </div>
            </div>

            <div class="col-lg-4">
                <div style="padding-right:100px">
                    <h3>Contents</h3>
                    <hr />
                    <a class="page-scroll" href="#page-top">Home</a><br />
                    <a href="#">Service</a><br />
                    <a href="#">Post Problems</a><br />
                    <a class="page-scroll" href="#about">About Us</a><br />
                    <a class="page-scroll" href="#contact">Contact Us</a><br />
                </div>
            </div>

            <div class="col-lg-4">
                <div style="padding-right:100px">
                    <h3>Developers</h3>
                    <hr />
                    <a href="https://www.facebook.com/hamza.shafique.904">Hamza Shafique</a><br />
                    <a href="https://www.facebook.com/shehraz.khan.980">Shehraz Khan</a><br />
                    <a href="https://www.facebook.com/shaheryar.ahmed.982">Shaheryar Khan</a><br />
                    <a href="https://www.facebook.com/ali.zuhaib.313">Ali Zuhaib</a><br />
                </div>
            </div>
        </div>
        <div>
            <br />
            <span style="padding-left:200px">
                <span class="copyright" style="color:white">Copyright &copy; National Data Visualization 2015. All Rights Reserved.</span>
            </span>
        </div>
        <br />
    </div>